:root {
  --bg-color: #2B579A;
  --main-bg-color: #ebebeb;
  --title-hover-bg-color: #3967ab;
  --w-text-color: #D7DADD;
  --b-text-color: #262626;
  --disabled-color: #a8abb2;

  --element-width-full: 100%;
  --element-height-full: 100%;
  --element-height-full-viewport-height: 100vh;
  --element-active-color: #002050;
  --element-hover-color: #124078;

  --button-hover-color: #d2d2d2;
  --button-active-color: #b1b1b1;
  --button-color: #808080;
  --button-text-color: #ffffff;

  --title-font-size: 25px;
  --title-font-weight: 800;

  --text-font-size: 16px;
}